<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kosmetyka Ciała</title>
</head>
<body>
<div class="container">
    <div style="padding-bottom: 2%">
        <h1>KOSMETYKA CIAŁA</h1>
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Zadbane ciało to brak cellulitu i nadmiaru tkanki tłuszczowej. Do pięlęgnacji ciała oraz do odprężenia stosujemy
        metodę <strong>endermologii.</strong>. Jest to technika masażu podciśnieniowego i obejmuje ona - zabiegi na ciało
        (lipomassage) - oraz zabiegi na twarz, szyję oraz dekolt (endermolift).<br/>
        Na czym to polega?
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Przy pomocy urządzenia typu LPG wykonujemy serię zabiegów stymulacji tkanki łącznej. Pomaga to wymodelować
        sylwetkę i ujędrnić skórę. Jest to też świetna metoda na pozbycie się cellulitu. Badania wykazują, że jest to
        jedna z najskuteczniejszych metod walki z cellulitem, nadmiarem tkanki tłuszczowej, obrzękami oraz wiotkością
        skóry ciała.
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Koszt zabiegu waha się od 100 do 150 zł.
    </div>
    <div ng-controller="homeController" ng-show="isLoggedAction()" style="padding-bottom: 2%">
        <button type="button" ng-click="goToVisitAppointment(3)" class="btn btn-default" >Umów wizytę</button>
    </div>
    <div>
        <div class="col-md-6" style="padding-left: 0%"><img src="/images/bodyCosmetic1.jpg" style="width: 100%;">
        </div>
        <div class="col-md-6" style="padding-right: 0%"><img src="/images/bodyCosmetic2.jpg" style="width: 100%;">
        </div>
    </div>
</div>
</body>
</html>