<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
</head>
<body>
<div class="container" style="font-size: 14px;">
    <h3>Kontakt do nas :</h3>
    <div style="padding-bottom: 1%">Telefon: 533-432-234.</div>
    <div style="padding-bottom: 1%">Adres: Łódzka 12 90-423 Łódź.</div>
    <div>Napisz do nas na FB:  <a target="_blank" href="https://www.facebook.com/klinikaurody1/"><img src="/images/fbIcon.png" width="40" height="40"></a></div>
</div>
</body>
</html>