<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kosmetyka Oczu</title>
</head>
<body>
<div class="container">
    <div style="padding-bottom: 2%">
        <h1>KOSMETYKA OCZU</h1>
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        W przypadku pojawiających się zmarszczek lub luźnej skóry wokół oczu polecamy zabieg metodą <strong>endermolift.</strong>
        Jest to metoda, która w nieinwazyjny sposób wzmacnia skórę przez stymulację fibroblastów. Pobudza to fibroblasty
        do produkcji kolagenu i elastyny.
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Zabieg jest bardzo delikatny. Głowica aparatu porusza się z regulowaną częstotliwoscią w zależności od podciśniena.
        Dzięki temu można przeprwoadzać drenaż, wygładzanie lub ujędrnianie skóry. Efekty widać już po jednym zabiegu :
        następuje wzrost elastyczności skóry, wygładzenie konturów i poprawa wyglądu skóry.
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Koszt zabiegu to około 250 zł.
    </div>
    <div ng-controller="homeController" ng-show="isLoggedAction()" style="padding-bottom: 2%">
        <button ng-click="goToVisitAppointment(5)" type="button" class="btn btn-default">Umów wizytę</button>
    </div>
    <div>
        <div class="col-md-6" style="padding-left: 0%"><img src="/images/eyeCosmetic1.jpg" style="width: 100%;"></div>
        <div class="col-md-6" style="padding-right: 0%"><img src="/images/eyeCosmetic2.jpg" style="width: 100%;"></div>
    </div>
</div>
</body>
</html>