<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utrata włosów</title>
</head>
<body>
<div class="container">
    <div style="padding-bottom: 2%">
        <h1>MEZOTERAPIA IGŁOWA SKÓRY GŁOWY</h1>
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Piękne włosy to skutek zadbanej, odżywionej oraz zdrowej skóry głowy. Zabieg ten stosujemy, gdy chcemy
        powstrzymać utratę włosów oraz poprawić ich kondycję. <br/>Na czym polega zabieg?
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Podczas zabiegu wprowadzamy wprost do mieszków włosowych substancje aktywne, takie jak biotyna, krzemionka
        organiczna, oligoelementy, witaminy, minerały oraz czynniki wzrostu. Powoduje to regenerację, odbudowę oraz
        wzmocnienie struktury oraz cebulek włosów.
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Koszt zabiegu waha się od 500 do 650 zł.
    </div>
    <div ng-controller="homeController" ng-show="isLoggedAction()" style="padding-bottom: 2%">
        <button type="button" ng-click="goToVisitAppointment(2)" class="btn btn-default" >Umów wizytę</button>
    </div>
    <div>
        <div class="col-md-6" style="padding-left: 0%"><img src="/images/hairLoose.jpg" style="width: 100%;">
        </div>
        <div class="col-md-6" style="padding-right: 0%"><img src="/images/hairLoose2.jpg" style="width: 100%;">
        </div>
    </div>
</div>
</body>
</html>