<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>O nas</title>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Klinika</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/treatments"><i class="fa fa-shield"></i> Zabiegi</a></li>
                <li><a href="#!/contact"><i class="fa fa-comment"></i> Kontakt</a></li>
                <li><a href="#!/login"><i class="login-btn"></i> Zaloguj sie!</a></li>
            </ul>
        </div>
    </nav>
</header>
<p>O nas:</p>
{{message}}
</body>
</html>