<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>O nas</title>
</head>
<body>
<div class="container" style="min-width: 1170px; margin-left: auto; margin-right: auto">
    <div class="row" style="text-align: center">
        <img src="/images/image2.jpg" alt="rotating image" style="width: 95%" height="400" id="rotator">
    </div>
    <div class="col-md-12" style="font-size: 16px;">
        <h3>O nas:</h3>
        <div style="margin-bottom: 4%">Klinika piękna Afrodyta to profesionalny gabinet kosmetyczny w Łodzi, który ma pomagać zarówno kobietom jak i
            mężczyznom w stawaniu się piękniejszym i doskonalszym każdego dnia.</div>
        <h3>Nasz kompetencje:</h3>
        <div style="margin-bottom: 4%">Posiadamy wybitnych specjalistów z całej Polski. Świadczymy zabiegi plastyczne i dermatologicze.</div>
        <h3>Miejsce:</h3>
        <div style="padding-bottom: 2%">Nasz gabinet kosmetyczny mieści się przy <strong>ulicy Łódzkiej 12 w Łodzi.</strong></div>
    </div>
</div>
</body>
</html>