<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Depilacja laserowa</title>
</head>
<body>
<div class="container">
    <div style="padding-bottom: 2%">
        <h1>DEPILACJA LASEROWA</h1>
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        W naszej klinice oferujemy usuwanie owłosienia jedną z najskuteczniejszych metod - <strong>epilacją</strong>.
        Epilacja to najskuteczniejsza metoda usuwania owłosienia. Podczas zabiegu promienie lasera usuwają włos wraz
        z cebulkami, co pozwala cieszyć się gładką skóra na długi czas.
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Do tego zabiegu używamy specjalny laser do depilacji. Przyrząd ten oferuje szybkie usuwanie włosów przy dużej
        powierzchni zabiegowej. Dla przykładu zabieg depilacji nóg trwa około 30 minut. Laser dostosowuje parametry
        pod dany typ skóry i włosów więc nie powinni Państwo czuć dyskomfortu podczas zabiegu.
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Największą zaletą tego zabiegu jest doświadczony personel, który wie jak jak skutecznie przeprowadzać zabiegi
        oraz dba o Państwa komfort podczas zabiegu.
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Koszt zabiegu waha się od 200 do 250 zł i jest zależny od wybranej partii ciała.
    </div>
    <div ng-controller="homeController" ng-show="isLoggedAction()" style="padding-bottom: 2%">
        <button ng-click="goToVisitAppointment(1)" type="button" class="btn btn-default">Umów wizytę</button>
    </div>
    <div>
        <div class="col-md-6" style="padding-left: 0%"><img src="/images/laserHairRemoval.jpg" style="width: 100%;"></div>
        <div class="col-md-6" style="padding-right: 0%"><img src="/images/laserHairRemoval2.jpg" style="width: 100%;"></div>
    </div>
</div>
</body>
</html>