<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj sie!</title>
</head>
<body ng-controller="loginController">
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Klinika</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/treatments"><i class="fa fa-shield"></i> Zabiegi</a></li>
                <li><a href="#!/contact"><i class="fa fa-comment"></i> Kontakt</a></li>
                <li><a href="#!/login"><i class="login-btn"></i> Zaloguj sie!</a></li>
            </ul>
        </div>
    </nav>
</header>
<p>zaloguj sie!</p>
<form  authentication-success-handler-ref="authSuccessHandler" ng-submit="login()" class="ng-cloak">
    <div class="form-group">
        <label for="username">Username:</label>
        <input text="text" class="form-control" id="username" name="username"
               ng-model="username"/>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password"
               ng-model="password"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>