<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zabieg złuszczający</title>
</head>
<body>
<div class="container">
    <div style="padding-bottom: 2%">
        <h1>ZABIEG ZŁUSZCZAJĄCY</h1>
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Zadbana i gładka cera twarzy to komfort i pewność na codzień. Aby efekt ten utrzymyał się na długo oferujemy zabieg
        <strong>mikrodermabrazji korundowo laserowej.</strong> Zabieg ten działa wygładzająco na wszelkiej maści blizny
        potrądzikowe, zmarszczki czy rozszerzone pory.<br/>
        Na czym to polega?
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Mikrodermabrazja korundowa laserowa to oczyszanie i wygładzanie skóry przy użyciu drobnego piasku korundowego
        przy jednoczesnej aplikacji światła laserowego o niskiej mocy. Pozwala to na oczyszczanie skóry z zaskórników,
        zrogowaceń, drobnych plam lub przebarwień. Zabieg sprawdza się również przy spłycaniu rozstępów i blizenek
        zanikowych powstałych w wyniku stanów zapalnych. Zabieg ten daje natychmiastowe efekty. Natomiast seria zabiegów
        potęguję efekty dając satysfakcję i dobre samopoczucie na codzień.
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Koszt zabiegu waha się od 250 do 400 zł.
    </div>
    <div ng-controller="homeController" ng-show="isLoggedAction()" style="padding-bottom: 2%">
        <button type="button" ng-click="goToVisitAppointment(4)" class="btn btn-default" >Umów wizytę</button>
    </div>
    <div>
        <div class="col-md-6" style="padding-left: 0%"><img src="/images/peelTreatment1.jpg" style="width: 100%;">
        </div>
        <div class="col-md-6" style="padding-right: 0%"><img src="/images/peelTreatment2.jpg" style="width: 100%; min-height: 140%">
        </div>
    </div>
</div>
</body>
</html>