<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zabieg złuszczający</title>
</head>
<body>
<div class="container">
    <div style="padding-bottom: 2%">
        <h1>ZABIEG ZŁUSZCZAJĄCY</h1>
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        asd
        Na czym to polega?
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        asd
    </div>
    <div style="font-size: 14px; padding-bottom: 2%">
        Koszt zabiegu waha się od 100 do 150 zł.
    </div>
    <div ng-controller="homeController" ng-show="isLoggedAction()" style="padding-bottom: 2%">
        <button type="button" ng-click="goToVisitAppointment(4)" class="btn btn-default" >Umów wizytę</button>
    </div>
    <div>
        <div class="col-md-6" style="padding-left: 0%"><img src="/images/peelTreatment1.jpg" style="width: 100%;">
        </div>
        <div class="col-md-6" style="padding-right: 0%"><img src="/images/peelTreatment2.jpg" style="width: 100%; min-height: 140%">
        </div>
    </div>
</div>
</body>
</html>