<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zabiegi</title>
</head>
<body>
<div class="container">
    <div class="col-md-12" style=" font-size: 16px; padding: 0;">
        <h3 style="margin-bottom: 4%">Zabiegi oferowane przez naszą firmę:</h3>
        <div class="row" style="padding-bottom: 2%; text-align: center">
            <a id="zabieg1" class="col-sm-6 col-md-4" href="#!/treatments/laserHairRemoval">
                <img src="/images/image1.jpg" width="360" height="200">
                <div style="padding-top: 20px; padding-bottom: 10px; background-color: antiquewhite; vertical-align: center; ">
                    <h3 style="margin-top: 0px; color: black">Depliacja Laserowa</h3>
                </div>
            </a>
            <a id="zabieg2" class="col-sm-6 col-md-4" href="#!/treatments/hairLoose">
                <div>
                    <img src="/images/image3.jpg" width="360" height="200">
                </div>
                <div style="padding-top: 20px; padding-bottom: 10px; background-color: antiquewhite; vertical-align: center; ">
                    <h3 style="margin-top: 0px; color: black">Wypadanie włosów</h3>
                </div>
            </a>
            <a id="zabieg3" class="col-sm-6 col-md-4" href="#!/treatments/bodyCosmetic">
                <div>
                    <img src="/images/image4.jpg" width="360" height="200">
                </div>
                <div style="padding-top: 20px; padding-bottom: 10px; background-color: antiquewhite; vertical-align: center; ">
                    <h3 style="margin-top: 0px; color: black">Kosmetyka ciała</h3>
                </div>
            </a>
        </div>
        <div class="row" style="text-align: center">
            <a id="zabieg4" class="col-sm-6 col-md-4" href="#!/treatments/peelTreatment">
                <div>
                    <img src="/images/peelTreatment1.jpg" width="360" height="200">
                </div>
                <div style="padding-top: 20px; padding-bottom: 10px; background-color: antiquewhite; vertical-align: center; ">
                    <h3 style="margin-top: 0px; color: black">Zabieg złuszczający</h3>
                </div>
            </a>
        </div>
    </div>
</div>
<!--<p>Zabiegi:</p>
<p>-&#45;&#45;dostepne zabiegi z opisami-&#45;&#45;</p>-->
</body>
</html>