<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona glowna</title>
</head>
<body>
<div class="container">
    <p>Witaj! Wlasnie sie zalogowales!</p>
    <p>Twoje zabiegi:</p>
    <div ng-controller="userController" ng-init="getTreatmentsForUser()">
        <div ng-repeat="treatment in treatmentsForUser">
            {{treatment.treatmentDate | date: 'yyyy-MM-dd HH:mm:ss'}}
        </div>
    </div>
    <p></p>
    <p></p>
    <p>Historia twoich zabiegow:</p>
    <p>---Historia---</p>
    <p></p>
    <p></p>
</div>
</body>
</html>