<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Umawianie wizyty</title>
</head>
<body>
<div class="container">
    <h3>Umów wizytę: {{selectedTreatment.treatmentName}}</h3>
    <div>Dostępni doktorzy:</div>
    <div class="radio" ng-repeat="doctor in avaliableDoctors">
        <label><input type="radio" name="optradio" value="{{doctor.doctorId}}" ng-model="doctor.checkbox"  ng-checked="$first" ng-click="changeDoctor(doctor.checkbox)">{{doctor.firstName}} {{doctor.lastName}} {{doctor.specialization}}</label>
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-model="eventSources"
                     calendar="myCalendar"
                     ui-calendar="uiConfig.calendar" class="calendar"></div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearModal()">&times;</button>
                <h4 class="modal-title">Czy na pewno chcesz umówić wizytę?</h4>
            </div>
            <div class="modal-body">
                <div>{{modalBody1}}</div>
                <div>{{modalBody2}} {{selectedVisitDateUI | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
                <div>Szczegóły / sugestie dotyczące zabiegu:</div>
                <div><input type="text" class="input-medium" id="visitDetails" name="visitDetails" ng-model="visitDetails" style="width: 100%"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="addEvent()">Potwierdź</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearModal()">Zamknij</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>