<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Umawianie wizyty</title>
</head>
<body>
<div class="container">
    <h3>Umów wizytę: {{selectedTreatment.treatmentName}}</h3>
    <div>Dostępni doktorzy:</div>
    <div class="radio" ng-repeat="doctor in avaliableDoctors">
        <label><input type="radio" name="optradio" value="{{doctor.doctorId}}" ng-model="doctor.checkbox"  ng-checked="$first" ng-click="changeDoctor(doctor.checkbox)">{{doctor.firstName}} {{doctor.lastName}} {{doctor.specialization}}</label>
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-model="eventSources"
                     calendar="myCalendar"
                     ui-calendar="uiConfig.calendar" class="calendar"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>